<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_star"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_star_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Num12Activity" />
        <activity android:name=".Num11Activity" />
        <activity android:name=".Num10Activity" />
        <activity android:name=".Num9Activity" />
        <activity android:name=".Num8Activity" />
        <activity android:name=".Num7Activity" />
        <activity android:name=".Num6Activity" />
        <activity android:name=".Num5Activity" />
        <activity android:name=".Num4Activity" />
        <activity android:name=".Num3Activity" />
        <activity android:name=".Num2Activity" />


        <receiver android:name=".BroadcastD1" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD2" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD3" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD4" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD5" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD6" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD7" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD8" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD9" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD10" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD11" android:enabled="true"></receiver>
        <receiver android:name=".BroadcastD12" android:enabled="true"></receiver>
        <service android:name=".TestService" android:enabled="true"></service>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/scale" />

        <activity android:name=".Num1Activity" />
        <activity android:name=".MainActivity"/>
            <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme"
                android:screenOrientation="portrait">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
    </application>
</manifest>